/* RoundedCard.module.css */
.card {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 15, 8, 0.32);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  border-radius: 9999px;
  box-sizing: border-box;
}

.numeric {
  min-width: 9rem;
}

.numeric p {
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum';
}
