/* SectionButton.module.css */
.button {
  --icon-color: #ffffff99;
  --icon-shadow: drop-shadow(0 5px 5px #00000099);
  display: flex;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 15, 8, 0.32);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.05);
  gap: 16px;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  text-align: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, border-color 0.2s;
}

.button:hover {
  --icon-color: #43ffa1;
  background-color: rgba(0, 15, 8, 0.5);
  color: #75ffba;
  border-color: #75ffba;
  box-shadow: 0 0 16px #75ffba99;
}

.button:hover span {
  color: #43ffa1;
  border-color: #43ffa1;
}

@media (max-width: 1024px) {
  .button {
    margin-top: 0;
    padding: 10px 12px;
    width: 100%;
    gap: 8px;
    box-shadow: 0 2px 6px #00000066;
    justify-content: center;
    border-radius: 12px;
  }
}

