/* SectionButton.module.css */
.button {
  --icon-color: #ffffff99;
  --icon-shadow: drop-shadow(0 5px 5px #00000099);
  display: flex;
  backdrop-filter: blur(10px);
  background-color: #ffffff11;
  box-shadow: 0 5px 10px #00000099;
  gap: 20px;
  padding: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, border-color 0.2s;
}

.button:hover {
  --icon-color: #43ffa1;
  background-color: #ffffff22;
  color: #75ffba;
  border-color: #75ffba;
  box-shadow: 0 0 16px #75ffba99;
}

.button:hover span {
  color: #43ffa1;
  border-color: #43ffa1;
}

@media (max-width: 1024px) {
  .button {
    margin-top: 0;
    padding: 10px 12px;
    width: 100%;
    gap: 8px;
    box-shadow: 0 2px 6px #00000066;
    justify-content: center;
    border-radius: 12px;
  }
}

