/* SmallCardButton.module.css */
.button {
  display: flex;
  backdrop-filter: blur(10px);
  background-color: #ffffff11;
  box-shadow: 0 5px 10px #00000099;
  justify-content: center;
  transition: background-color 0.2s, box-shadow 0.2s, border-color 0.2s;
}

.button:hover {
  background-color: #ffffff22;
  border-color: #75ffba;
  box-shadow: 0 0 16px #75ffba99;
}

.icon {
  width: 72px;
  height: 72px;
}

